<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!-- The above 3 meta tags *must* come first in the head -->

    <!-- SITE TITLE -->
    <title>STEM LHD - Local Hack Day</title>
    <meta name="description" content="A hackathon taking place in 6th of October STEM High School." />
    <meta name="keywords"
        content="Event, Conference, Meetup, Local, Hack, Day, STEM, October, Egypt, Major, League, Hacking" />

    <!-- twitter card starts from here, if you don't need remove this section -->
    <meta name="twitter:card" content="STEM Local Hack Day" />
    <meta name="twitter:site" content="@stemlhd" />
    <meta name="twitter:creator" content="@_faddyy" />
    <meta name="twitter:url" content="https://stemlhd.github.io/" />
    <meta name="twitter:title" content="STEM LHD - Local Hack Day" /> <!-- maximum 140 char -->
    <meta name="twitter:description" content="STEM LHD - Local Hack Day" /> <!-- maximum 140 char -->
    <meta name="twitter:image" content="assets/img/twittercardimg/twittercard-280-150.jpg" />
    <!-- when you post this page url in twitter , this image will be shown -->
    <!-- twitter card ends from here -->

    <!-- facebook open graph starts from here, if you don't need then delete open graph related  -->
    <meta property="og:title" content="STEM LHD - Local Hack Day" />
    <meta property="og:url" content="https://stemlhd.github.io/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="STEM LHD - Local Hack Day" />
    <!-- use this if you have  -->
    <meta property="og:type" content="website" />
    <meta property="og:image" content="assets/img/opengraph/fbphoto.jpg" />
    <!-- when you post this page url in facebook , this image will be shown -->
    <!-- facebook open graph ends from here -->

    <link rel="apple-touch-icon" sizes="57x57" href="../assets/img/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="../assets/img/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="../assets/img/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="../assets/img/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="../assets/img/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="../assets/img/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="../assets/img/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="../assets/img/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="../assets/img/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="../assets/img/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700%7cLato:300,400,700" />

    <!-- Master Stylesheet -->
    <link rel="stylesheet" href="../assets/css/main.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../assets/css/bootstrap.min.css">
</head>

<body>
    <div class="jumbotron"></div>
</body>

</html>