@import "side_pages";

section#content {
    font-family: $body-font;
    margin-bottom: 7vh;


    .title,
    .subtitle {
        font-family: $heading-font;
    }

    .title {
        font-size: 2em;
        color: main-color(app-black);
    }

    .subtitle {
        font-size: 1.2em;
        color: main-color(app-blue-dark)
    }
}