 /* Maps */
 $main-colors: (app-red: #DA1E1E,
     app-red-dark: darken(#DA1E1E, 45%),
     app-red-light: lighten(#DA1E1E, 45%),
     app-blue: #43AAFF,
     app-blue-light: lighten(#43AAFF, 45%),
     app-blue-dark: darken(#43AAFF, 45%),
     app-yellow: #FFD400,
     app-yellow-light: lighten(#FFD400, 45%),
     app-yellow-dark: darken(#FFD400, 45%),
     app-black: #1E1E28,
     app-black-light: lighten(#1E1E28, 45%),
     app-black-dark: darken(#1E1E28, 45%),
 );

 @function main-color($key) {
     @return map-get($map: $main-colors, $key: $key);
 }

 /* Mixins */
 $desktop: 840px;

 @mixin mobile {
     @media (max-width: #{$desktop}) {
         @content;
     }
 }

 @mixin desktop {
     @media (min-width: #{$desktop}) {
         @content;
     }
 }


 /* General */
 body,
 html {
     height: 100%;
 }

 body {
     font-family: Lato, sans-serif;
     font-size: 1.6rem;
     padding: 0;
     margin: 0;
     line-height: 2.4rem;
 }

 a,
 a.active,
 a:focus,
 a:hover {
     text-decoration: none;
     outline: 0
 }

 .btn:active,
 .btn:focus,
 a,
 button:active,
 button:focus,
 input[type=submit]:active,
 input[type=submit]:focus,
 input[type=button]:active,
 input[type=button]:focus {
     outline: 0 !important
 }

 body {
     color: main-color(app-black);
     max-height: 57.5%;

     #bg {
         position: absolute;
         z-index: -1;
         top: 0;
         right: 0;
         height: 100%;
         max-width: 57vw;

         img {
             width: auto;
             height: 100%;
         }
     }

     #bg-mobile {
         position: fixed;
         z-index: 1;
         bottom: 0;
         right: 0;
         left: 0;
         width: 100%;
         max-height: 30%;

         img {
             width: 100%;
             height: auto;
         }
     }
 }

 .hide-desktop {
     @include desktop {
         display: none;
     }
 }

 .hide-mobile {
     @include mobile {
         display: none;
     }
 }

 .navbar {
     font-family: Lato, sans-serif;
 }

 nav {
     .brand-img {
         width: 100px;
     }

     .register-btn {
         padding: 10px 26px;
         background: main-color(app-yellow);
         box-shadow: 0px 0px 8px 1px darken(main-color(app-yellow), 10%);
         color: darken(main-color(app-blue), 40%);

         @include mobile {
             margin-right: 10px;
         }

     }
 }

 section#banner {
     height: calc(100% - 81px);

     @include mobile {
         height: calc(100% - 64.5px);
     }

     margin-bottom: 45vh;

     @include desktop {
         margin-top: 18vh;
         margin-bottom: 27vh;
     }

     .title,
     .subtitle,
     .date {
         line-height: 1.5em;
         font-family: Oswald, sans-serif;
     }

     .subtitle {
         margin: 16px 0 0 0;
         font-size: 5.2em;
         color: main-color(app-blue);
         font-weight: 300;

         @include mobile {
             font-size: 2.8em;
         }
     }

     .title {
         font-size: 6em;
         font-weight: 900;
         text-transform: uppercase;

         @include mobile {
             font-size: 3.0em;
         }
     }

     .date {
         font-size: 2em;
         line-height: 2.6rem;

         font-weight: 300;
         opacity: .8;

         margin-bottom: 18px;

         @include mobile {
             font-size: 1.2em;
             line-height: 1.3em;
         }
     }

     .cta-btn,
     .sec-btn {
         font-size: 1.1em;
         font-family: Lato, sans-serif;

         transition: all .05s ease-in-out;

         &:hover,
         &:focus {
             position: relative;
             box-shadow: -3px 3px 0 1px;
             bottom: -3px;
             left: -3px;

         }
     }

     .cta-btn {
         color: main-color(app-yellow-dark);
         padding: 12px 16px;
         border: 4px solid main-color(app-yellow-dark);
         background-color: main-color(app-yellow);
         box-shadow: -6px 6px 0px 1px main-color(app-yellow-dark);

         @include mobile {
             margin: 8px auto 12px;
         }
     }

     .sec-btn {
         margin-left: 16px;
         padding: 12px 16px;
         border: 4px solid main-color(app-black);
         color: main-color(app-black);
         box-shadow: -6px 6px 0px 1px main-color(app-black);


         @include mobile {
             margin: auto;
         }
     }


     #countdown {
         position: absolute;

         @include desktop {
             bottom: 0.8em;
             right: 2.8em;
         }

         @include mobile {
             position: fixed;
             left: 0;
             right: 0;
             bottom: 0;
             text-align: center;
             z-index: 1;
         }

         span {
             text-align: center;
             font-family: Oswald, sans-serif;
             font-size: 3.55vw;
             //  line-height: 10.2rem;
             font-weight: 900;
             display: inline-block;
             margin-bottom: 0;
             margin-right: 3.8rem;
             letter-spacing: .16rem;
             position: relative;

             &:last-child {
                 margin-right: 0;
             }

             @include mobile {
                 font-size: 10vw
             }
         }

         i {
             font-family: Lato, sans-serif;
             font-size: 0.35em;
             line-height: 3rem;
             color: #fff;
             text-transform: uppercase;
             font-weight: 300;
             letter-spacing: normal;
             transform: rotate(-90deg);
             font-style: normal;
             display: inline-block;
             position: absolute;
             bottom: 0.7em;
             right: -2em;

             @include mobile {
                 bottom: 0;
             }
         }

         .days {
             color: main-color(app-yellow)
         }

         .hrs {
             color: main-color(app-red)
         }

         .mins {
             color: main-color(app-blue)
         }

         .secs {
             color: #fff
         }

     }
 }

 section#about {

     @include mobile {
         margin-bottom: 300px;
     }

     .heading,
     .subheading {
         font-family: Oswald, sans-serif
     }

     .heading {
         text-align: center;
         display: block;
         font-size: 2.52em;
         line-height: 1.4em;
         color: main-color(app-black);
         font-weight: 900;
         text-transform: uppercase;
     }

     .subheading {
         font-size: 1.3em;
         line-height: 3rem;
         color: main-color(app-blue-dark);
         font-weight: 400;
         text-align: center;
         margin: 0;
         opacity: .6
     }

     .about-content {
         text-align: center;
         font-family: Lato, sans-serif;

         .text {
             line-height: 1.55em;
             letter-spacing: 0.05em;
             opacity: .8;
         }

         .sec-btn {
             padding: 12px 16px;
             border: 2px solid main-color(app-blue-dark);
             color: main-color(app-blue-dark);

             box-shadow: -6px 6px 0px 1px main-color(app-blue-dark);

             transition: all .1s ease-in-out;

             &:hover,
             &:focus {
                 position: relative;
                 box-shadow: -3px 3px 0 1px;
                 bottom: -3px;
                 left: -3px;

             }
         }
     }

     .about-img {
         text-align: center;

         img {
             @include mobile {
                 width: 100%;
             }
         }
     }


 }