/* Maps */
/* Mixins */
/* General */
body,
html {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  line-height: 2.4rem;
}

a,
a.active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn:active,
.btn:focus,
a,
button:active,
button:focus,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button]:active,
input[type=button]:focus {
  outline: 0 !important;
}

body {
  color: #1E1E28;
  max-height: 57.5%;
}

body #bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 57vw;
}

body #bg img {
  width: auto;
  height: 100%;
}

body #bg-mobile {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  max-height: 30%;
}

body #bg-mobile img {
  width: 100%;
  height: auto;
}

@media (min-width: 840px) {
  .hide-desktop {
    display: none;
  }
}

@media (max-width: 840px) {
  .hide-mobile {
    display: none;
  }
}

.navbar {
  font-family: Lato, sans-serif;
}

nav .brand-img {
  width: 100px;
}

nav .register-btn {
  padding: 10px 26px;
  background: #FFD400;
  -webkit-box-shadow: 0px 0px 8px 1px #ccaa00;
          box-shadow: 0px 0px 8px 1px #ccaa00;
  color: #004176;
}

@media (max-width: 840px) {
  nav .register-btn {
    margin-right: 10px;
  }
}

section#banner {
  height: calc(100% - 81px);
  margin-bottom: 45vh;
}

@media (max-width: 840px) {
  section#banner {
    height: calc(100% - 64.5px);
  }
}

@media (min-width: 840px) {
  section#banner {
    margin-top: 18vh;
    margin-bottom: 27vh;
  }
}

section#banner .title,
section#banner .subtitle,
section#banner .date {
  line-height: 1.5em;
  font-family: Oswald, sans-serif;
}

section#banner .subtitle {
  margin: 16px 0 0 0;
  font-size: 5.2em;
  color: #43AAFF;
  font-weight: 300;
}

@media (max-width: 840px) {
  section#banner .subtitle {
    font-size: 2.8em;
  }
}

section#banner .title {
  font-size: 6em;
  font-weight: 900;
  text-transform: uppercase;
}

@media (max-width: 840px) {
  section#banner .title {
    font-size: 3.0em;
  }
}

section#banner .date {
  font-size: 2em;
  line-height: 2.6rem;
  font-weight: 300;
  opacity: .8;
}

@media (max-width: 840px) {
  section#banner .date {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}

section#banner .cta-btn {
  color: #1a1500;
  padding: 16px 20px;
  background-color: #FFD400;
}

@media (max-width: 840px) {
  section#banner .cta-btn {
    margin: 8px auto 12px;
  }
}

section#banner .sec-btn {
  margin-left: 16px;
  padding: 12px 16px;
  border: 4px solid #1E1E28;
  color: #1E1E28;
}

@media (max-width: 840px) {
  section#banner .sec-btn {
    margin: auto;
  }
}

section#banner #countdown {
  position: absolute;
  bottom: 1em;
}

@media (min-width: 840px) {
  section#banner #countdown {
    bottom: 0.8em;
    right: 2.8em;
  }
}

@media (max-width: 840px) {
  section#banner #countdown {
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;
  }
}

section#banner #countdown span {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-size: 3.55vw;
  font-weight: 900;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 3.8rem;
  letter-spacing: .16rem;
  position: relative;
}

section#banner #countdown span:last-child {
  margin-right: 0;
}

@media (max-width: 840px) {
  section#banner #countdown span {
    font-size: 2em;
  }
}

section#banner #countdown i {
  font-family: Lato, sans-serif;
  font-size: 0.35em;
  line-height: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: normal;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-style: normal;
  display: inline-block;
  position: absolute;
  bottom: 0.7em;
  right: -2em;
}

@media (max-width: 840px) {
  section#banner #countdown i {
    bottom: 0;
  }
}

section#banner #countdown .days {
  color: #FFD400;
}

section#banner #countdown .hrs {
  color: #DA1E1E;
}

section#banner #countdown .mins {
  color: #43AAFF;
}

section#banner #countdown .secs {
  color: #fff;
}
/*# sourceMappingURL=main.css.map */