/* Maps */
/* General */
body,
html {
  height: 100%;
}

body {
  font-family: Lato, sans-serif;
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  line-height: 2.4rem;
}

a,
a.active,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.btn:active,
.btn:focus,
a,
button:active,
button:focus,
input[type=submit]:active,
input[type=submit]:focus,
input[type=button]:active,
input[type=button]:focus {
  outline: 0 !important;
}

@media (max-width: 576px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 993px) and (max-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

@media (min-width: 1201px) {
  .hide-not-xl {
    display: none;
  }
}

.navbar {
  font-family: Lato, sans-serif;
}

.brand-img {
  width: 100px;
}

nav .register-btn {
  padding: 10px 26px;
  background: #FFD400;
  -webkit-box-shadow: 0px 0px 8px 1px #ccaa00;
          box-shadow: 0px 0px 8px 1px #ccaa00;
}

nav .register-btn:hover, nav .register-btn {
  color: #1a1500;
}

@media (max-width: 768px) {
  nav .register-btn {
    margin-right: 10px;
  }
}

footer {
  font-family: Lato, sans-serif;
  background-color: #1E1E28;
  padding-top: 8vh;
  color: #fff;
}

@media (max-width: 768px) {
  footer {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  footer .footer-logo {
    text-align: center;
  }
}

footer .footer-logo img {
  width: 210px;
}

footer .footer-title {
  font-family: Oswald, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  footer .footer-title {
    font-size: 1.2em;
  }
}

footer .date {
  font-family: Oswald, sans-serif;
  color: #FFD400;
  font-size: 0.9em;
}

@media (max-width: 768px) {
  footer .date {
    font-size: 0.8em;
  }
}

footer .the-subscribe-area {
  margin-top: 1vh;
}

footer .the-subscribe-area .footer-advice {
  font-size: 0.8em;
}

footer .the-subscribe-area .btn-subscribe {
  padding: 10px 26px;
  background: #FFD400;
  -webkit-box-shadow: 0px 0px 8px 1px #ccaa00;
          box-shadow: 0px 0px 8px 1px #ccaa00;
}

footer .the-subscribe-area .btn-subscribe:hover, footer .the-subscribe-area .btn-subscribe {
  color: #1a1500;
}

@media (max-width: 768px) {
  footer .the-subscribe-area .btn-subscribe {
    margin-right: 10px;
  }
}

footer .the-subscribe-area .success,
footer .the-subscribe-area .failure,
footer .the-subscribe-area .loading,
footer .the-subscribe-area .already-exists {
  display: none;
  font-size: 0.9em;
}

footer .the-subscribe-area .success {
  color: green;
}

footer .the-subscribe-area .failure {
  color: #DA1E1E;
}

footer .the-subscribe-area .loading,
footer .the-subscribe-area .already-exists {
  opacity: 0.8;
}

footer .the-subscribe-area .shown {
  display: block;
}

footer .social {
  font-size: 2em;
}

footer .copyright {
  margin-top: 3vh;
}

@media (max-width: 768px) {
  footer .second {
    margin-top: 6vh;
  }
}

body {
  color: #1E1E28;
  max-height: 57.5%;
}

body #bg {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 100%;
  max-width: 57vw;
}

body #bg img {
  width: auto;
  height: 100%;
}

body #bg-mobile {
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  width: 100%;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

body #bg-mobile img {
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  body #bg-mobile {
    bottom: 0;
  }
}

@media (min-width: 769px) {
  body #bg-mobile {
    bottom: -3.8em;
  }
}

section#banner {
  height: calc(100% - 81px);
  margin-bottom: 27vh;
}

@media (max-width: 768px) {
  section#banner {
    height: calc(100% - 64.5px);
  }
}

@media (min-width: 769px) {
  section#banner {
    margin-top: 18vh;
  }
}

section#banner .title,
section#banner .subtitle,
section#banner .date {
  line-height: 1.5em;
  font-family: Oswald, sans-serif;
}

section#banner .subtitle {
  font-size: 2.8em;
  margin: 16px 0 0 0;
  color: #43AAFF;
  font-weight: 300;
}

@media (min-width: 577px) and (max-width: 768px) {
  section#banner .subtitle {
    font-size: 8vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  section#banner .subtitle {
    font-size: 8.5vw;
  }
}

@media (min-width: 769px) {
  section#banner .subtitle {
    font-size: 5.2em;
  }
}

section#banner .title {
  font-size: 3em;
  font-weight: 900;
  text-transform: uppercase;
}

@media (min-width: 577px) and (max-width: 768px) {
  section#banner .title {
    font-size: 10vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  section#banner .title {
    font-size: 8vw;
  }
}

@media (min-width: 769px) {
  section#banner .title {
    font-size: 6em;
  }
}

section#banner .date {
  font-size: 1.2em;
  line-height: 1.3em;
  font-weight: 300;
  opacity: .8;
  margin-bottom: 18px;
}

@media (min-width: 577px) and (max-width: 768px) {
  section#banner .date {
    font-size: 3.8vw;
    line-height: 1vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  section#banner .date {
    font-size: 3.5vw;
    line-height: 2.6rem;
  }
}

@media (min-width: 769px) {
  section#banner .date {
    font-size: 2.3em;
    line-height: 2rem;
  }
}

section#banner .cta-btn,
section#banner .sec-btn {
  font-size: 1.1em;
  font-family: Lato, sans-serif;
  -webkit-transition: position .05s ease-in-out, -webkit-box-shadow .05s ease-in-out;
  transition: position .05s ease-in-out, -webkit-box-shadow .05s ease-in-out;
  transition: position .05s ease-in-out, box-shadow .05s ease-in-out;
  transition: position .05s ease-in-out, box-shadow .05s ease-in-out, -webkit-box-shadow .05s ease-in-out;
}

section#banner .cta-btn:hover, section#banner .cta-btn:focus,
section#banner .sec-btn:hover,
section#banner .sec-btn:focus {
  -webkit-box-shadow: -3px 3px 0 1px;
          box-shadow: -3px 3px 0 1px;
  bottom: -3px;
  left: -3px;
  position: relative;
}

section#banner .cta-btn {
  color: #1a1500;
  padding: 12px 1.8vw;
  border: 4px solid #1a1500;
  background-color: #FFD400;
  -webkit-box-shadow: -6px 6px 0px 1px #1a1500;
          box-shadow: -6px 6px 0px 1px #1a1500;
}

@media (max-width: 768px) {
  section#banner .cta-btn {
    margin: 8px auto 12px;
  }
}

section#banner .sec-btn {
  margin-left: 16px;
  padding: 12px 16px;
  border: 4px solid #1E1E28;
  color: #1E1E28;
  -webkit-box-shadow: -6px 6px 0px 1px #1E1E28;
          box-shadow: -6px 6px 0px 1px #1E1E28;
}

@media (max-width: 768px) {
  section#banner .sec-btn {
    margin: auto;
  }
}

section#banner #countdown {
  position: absolute;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

@media (min-width: 769px) {
  section#banner #countdown {
    bottom: 0.8em;
    right: 2.8em;
  }
}

@media (max-width: 768px) {
  section#banner #countdown {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    z-index: 1;
  }
}

section#banner #countdown span {
  text-align: center;
  font-family: Oswald, sans-serif;
  font-weight: 900;
  display: inline-block;
  margin-bottom: 0;
  margin-right: 3.8rem;
  letter-spacing: .16rem;
  position: relative;
}

section#banner #countdown span:last-child {
  margin-right: 0;
}

@media (max-width: 576px) {
  section#banner #countdown span {
    font-size: 10vw;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  section#banner #countdown span {
    font-size: 8vw;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  section#banner #countdown span {
    margin-right: 1.5rem;
  }
}

@media (min-width: 769px) {
  section#banner #countdown span {
    font-size: 3.55vw;
  }
}

section#banner #countdown i {
  font-family: Lato, sans-serif;
  font-size: 0.35em;
  line-height: 3rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: normal;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  font-style: normal;
  display: inline-block;
  position: absolute;
  bottom: 0.7em;
  right: -2em;
}

@media (max-width: 576px) {
  section#banner #countdown i {
    bottom: 0;
  }
}

section#banner #countdown .days {
  color: #FFD400;
}

section#banner #countdown .hrs {
  color: #DA1E1E;
}

section#banner #countdown .mins {
  color: #43AAFF;
}

section#banner #countdown .secs {
  color: #fff;
}

@media (max-width: 992px) {
  section#about {
    margin-bottom: 80px;
  }
}

section#about .heading,
section#about .subheading {
  font-family: Oswald, sans-serif;
}

section#about .heading {
  text-align: center;
  display: block;
  font-size: 2.52em;
  line-height: 1.4em;
  color: #1E1E28;
  font-weight: 900;
  text-transform: uppercase;
}

section#about .subheading {
  font-size: 1.3em;
  line-height: 3rem;
  color: #00335d;
  font-weight: 400;
  text-align: center;
  margin: 0;
  opacity: .6;
}

section#about .about-content {
  text-align: center;
  font-family: Lato, sans-serif;
}

section#about .about-content .text {
  line-height: 1.55em;
  letter-spacing: 0.05em;
  opacity: .8;
}

section#about .about-content .about-btn {
  padding: 12px 16px;
  border: 2px solid #00335d;
  color: #00335d;
  -webkit-box-shadow: -6px 6px 0px 1px #00335d;
          box-shadow: -6px 6px 0px 1px #00335d;
  -webkit-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out;
}

section#about .about-content .about-btn:hover, section#about .about-content .about-btn:focus {
  position: relative;
  -webkit-box-shadow: -3px 3px 0 1px;
          box-shadow: -3px 3px 0 1px;
  bottom: -3px;
  left: -3px;
}

section#about .about-img {
  text-align: center;
}

@media (max-width: 576px) {
  section#about .about-img img {
    width: 100%;
  }
}

section#cause {
  color: #fff;
  font-family: Lato, sans-serif;
  background-color: #1E1E28;
  padding: 25px;
}

section#cause .single-item {
  padding: 25px;
}

section#cause .single-item .icon-img {
  top: -200px;
  width: 200px;
}

section#cause .single-item .cause-title {
  font-family: Oswald, sans-serif;
  font-size: 2.5em;
}

section#speakers {
  background: url("../img/speakers-bg.png");
}

section#sponsors {
  background: url("../img/sponsors-bg.jpg");
}

section#speakers,
section#sponsors {
  font-family: Lato, sans-serif;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 30px #1E1E28;
          box-shadow: inset 0 0 30px #1E1E28;
  height: 60vh;
  width: 100%;
  text-align: center;
}

section#speakers .inner-container,
section#sponsors .inner-container {
  mix-blend-mode: darken;
}

section#speakers .heading,
section#sponsors .heading {
  font-family: Oswald, sans-serif;
  font-weight: 600;
  color: #1E1E28;
  font-size: 3.5em;
  margin-bottom: 3vh;
}

@media (max-width: 768px) {
  section#speakers .heading,
  section#sponsors .heading {
    font-size: 2em;
  }
}

section#speakers .answer,
section#sponsors .answer {
  font-size: 1.2em;
}

section#speakers .answer .mono,
section#sponsors .answer .mono {
  font-family: monospace;
  color: #DA1E1E;
}

section#speakers .answer a:hover,
section#sponsors .answer a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  section#speakers .answer,
  section#sponsors .answer {
    font-size: 1.1em;
  }
}

section#schedule {
  font-family: Lato, sans-serif;
  background-color: #1E1E28;
  padding: 26px;
}

section#schedule a.nav-link {
  font-family: Oswald, sans-serif;
  font-size: 1.1em;
  color: #1E1E28;
  background-color: #fff;
  margin: 8px 5px;
  opacity: 0.9;
}

@media (max-width: 768px) {
  section#schedule a.nav-link {
    width: 40%;
  }
}

@media (min-width: 769px) {
  section#schedule a.nav-link {
    font-size: 1.3em;
  }
}

section#schedule a.nav-link.active {
  background-color: #FFD400;
  color: #1E1E28;
  opacity: 1;
}

@media (min-width: 769px) {
  section#schedule a.nav-link.active::before {
    content: '';
    left: -1.2em;
    display: inline-block;
    position: relative;
    width: 1em;
    height: 1em;
    background-color: #43AAFF;
    border: 2px solid #43AAFF;
    border-radius: 50%;
  }
}

section#schedule .heading {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 3.5em;
  margin-bottom: 3vh;
}

section#schedule .hey {
  background: #fff;
  opacity: 0.9;
  margin: 8px 0;
  border-radius: 8px;
}

section#schedule .content {
  margin: 8px 0;
}

section#schedule .content .title {
  font-family: Oswald, sans-serif;
  color: #00335d;
}

section#schedule .content .text {
  font-size: 1em;
  color: #1E1E28;
}

@media (min-width: 769px) {
  section#schedule .content .text {
    font-size: 1.12em;
  }
}

@media (max-width: 768px) {
  section#schedule .content .text {
    margin: 12px 16px;
  }
}

@media (max-width: 768px) {
  section#schedule .content {
    padding: 6px;
  }
}

section#schedule .subscribe-text {
  margin-top: 10px;
  font-size: 1.1em;
  color: #fff;
}

section#schedule .subscribe-text a:hover {
  text-decoration: none;
}

@media (max-width: 768px) {
  section#schedule .subscribe-text {
    font-size: 1em;
  }
}
/*# sourceMappingURL=main.css.map */